.idea/
.vscode/
.DS_Store
Thumbs.db
src/.env
src/.env.backup
src/.env.*.local
src/storage/logs/*.log
src/storage/framework/cache/data/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/app/private/*
src/bootstrap/cache/*.php
src/vendor/
src/node_modules/
src/public/build/
src/public/hot
src/.phpunit.result.cache
src/coverage/
